<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kelompok22.beritata">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logout"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.kelompok22.beritata.MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.kelompok22.beritata.Category.Science"
            android:label="Science" />
        <activity
            android:name="com.example.kelompok22.beritata.Category.Sports"
            android:label="Sports" />
        <activity
            android:name="com.example.kelompok22.beritata.Category.Technology"
            android:label="Technology" />
        <activity
            android:name="com.example.kelompok22.beritata.DetailActivity"
            android:label="Detail News" />
    </application>

</manifest>